parameters:
  bootstrapFiles:
    - %currentWorkingDirectory%/tests/php/phpstan/bootstrap-pre-theme.php
    - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/bootstrap.php
  stubFiles:
    - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/stubs/Module.stub
    - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/stubs/Tab.stub
    - %currentWorkingDirectory%/tests/php/phpstan/stubs/Cookie.stub
  dynamicConstantNames:
    - _PS_VERSION_
    - _PS_MODE_DEV_
  paths:
    - %currentWorkingDirectory%/ps_onepagecheckout.php
    - %currentWorkingDirectory%/controllers/
    - %currentWorkingDirectory%/src/
    - %currentWorkingDirectory%/upgrade/
  level: 5
